* {
    box-sizing: border-box
  }
  
  html,
  body {
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    display: flex;
  }
  
  .asid {
    padding: 1rem;
    position: fixed;
    left: 0;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px gray;
  }
  .asid1 {
    padding: 1rem;
    position: fixed;
    right: 0;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px gray;
  }
  .asid2 {
    padding: 1rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px gray;
  }
  .asid3 {
    padding: 1rem;
    position: fixed;
    top: 100px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px gray;
  }
  .content {
    margin: 2rem;
    flex-grow: 1;
    overflow: auto;
  }
  
  #box2 {
    height: auto;
  }
  
  #box7 {
    width: 50%;
    margin: auto;
    border: 1px solid gray;
  }
  
  .son {
    height: 300px;
    background-color: #eee;
    text-align: center;
  }
  
  .son:nth-child(odd) {
    background-color: #ccc;
  }
  
  .son h1 {
    display: block;
    padding: 1rem;
    margin: 0;
    height: 100%;
    line-height: 100%;
  }
  
  .etable-content {
    height: 100%;
    padding: 1rem;
  }