.lov-anchor {
  position: relative;
  text-align: left;
  margin-left: 10px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }
  //button style
  &.button-anchor{
    margin-left: 0rem;
    .lov-anchor_ink{
      position: absolute;
      width: 100%;
      z-index: -1;
      &::before{
        display: none
      }
      .move-dot{
        width: 100%;
        border-radius: 4px;
        transform: translateX(0%);
      } 
    }
    .lov-anchor_link{
      z-index: 1;
      padding-left: 0px;
     .anchor-link_content{
        &.active{
          color: #fff;
        }
     }
    }
  }
  //horizontal style
  &.horizontal{
    display: flex;
    align-items: center;
    .lov-anchor_ink{
      height: 100%;
      width: 100%;
      z-index: -1;
      &::before{
        display: none
      }
      .move-dot{
        width: 0px;
        height: 2px;
        border-radius:4px; 
        transform: translateX(0%);
      } 
    }
    .lov-anchor_link{
      z-index: 1;
      .anchor-link_content{
        padding-left:15px;  
        padding-right:15px;  
      }
    }
  }
  //default style
  .lov-anchor_ink {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    &::before {
      content: " ";
      position: relative;
      width: 2px;
      height: 100%;
      display: block;
      transform: translateX(-50%);
      background-color: #e8e8e8;
      margin: 0 auto;
    }
    .move-dot {
      opacity: 0;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 0;
      top: 0;
      background-color: skyblue;
      transform: translateX(-50%);
      transition: all 0.5s;
    }
    .visible {
      opacity: 1;
    }
  }
  .lov-anchor_link {
    padding-left: 10px;
    cursor: pointer;
    & .anchor-link_content{
      padding: 10px;
      transition: all .5s;
      &:hover{
        color: skyblue;
      }
      &.active{
        color: skyblue
      }
    }
    
    &.has-chlid{
      &>.lov-anchor_link{
        margin-bottom:0;
        padding-left:20px;  
      }
    }
  }
}
